<!DOCTYPE html>
<head>

<script language="javascript">

    //var obj={};

    function handle(){
        _getWeather();
        _readClass();
    }

    function _getWeather(){
        var xmlhttp;  
        if (window.XMLHttpRequest) {  
            xmlhttp = new XMLHttpRequest();
        } 
        else {  
            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }

        //Ajax구현부분
        xmlhttp.onreadystatechange = function(obj) {  
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                //var msg = JSON.parse(xmlhttp.responseText);
                //obj.weather = msg.weather;
                //obj.temperature = msg.temperature;
                //document.getElementById("_show").innerText = xmlhttp.responseText;
            }
        };
        var url = "http://localhost:8080/getWeather?city=";
        url+=document.getElementById("_city").value;
        xmlhttp.open("GET", url, true);  
        xmlhttp.send();
    }

    function _readClass(){
        var xmlhttp2;  
        xmlhttp2 = new XMLHttpRequest();

        //Ajax구현부분
        xmlhttp2.onreadystatechange = function() {  
            if (xmlhttp2.readyState == 4 && xmlhttp2.status == 200) {
                //obj.class = xmlhttp2.responseText;
                //document.getElementById("_show").innerHTML = obj.class;
            }
        };
        var url = "http://localhost:8080/readClass";
        xmlhttp2.open("GET", url, true);  
        xmlhttp2.send();

        //xmlhttp2.onload = function(){
            //alert(JSON.stringify(obj));
            //sendData(obj);
            //document.getElementById("_show").innerText = JSON.stringify(obj);
        //};
    
    }

    function sendData(){
        //alert(obj);
        var xmlhttp3;
        xmlhttp3 = new XMLHttpRequest();
        //alert(JSON.stringify(obj));
        //Ajax구현부분
        xmlhttp3.onreadystatechange = function() {  
            if (xmlhttp3.readyState == 4 && xmlhttp3.status == 200) {
                document.getElementById("send").innerText = "data inserted!";
                //alert("data inserted!");
            }
        };
        var url = "http://localhost:8080/push";
        //url+="weather="+obj.weather;
        //url+="&class="+obj.class;
        //url+="&temperature="+obj.temperature;

        xmlhttp3.open("GET", url, true);
        //xmlhttp3.setRequestHeader('Content-Type', 'application/json');
        xmlhttp3.send();
    }

    function showResult(){
        var xmlhttp4;
        xmlhttp4 = new XMLHttpRequest();
        //alert(JSON.stringify(obj));
        //Ajax구현부분
        xmlhttp4.onreadystatechange = function() {  
            if (xmlhttp4.readyState == 4 && xmlhttp4.status == 200) {
               //alert(xmlhttp4.responseText);
               var msg = xmlhttp4.responseText;
               document.getElementById("_text").innerText = msg;

               setTimeout(function(){
                    if(msg.charAt(1)=='C'){
                    window.open('http://mss.kr/1173366','winter', 'top=100px, left=100px, height=800px, width=800px');
                }
                else if(msg.charAt(1)=='H'){
                    window.open('http://mss.kr/1040865','winter', 'top=100px, left=100px, height=800px, width=800px');
                }
               }, 2000);

            }
        };
        var url = "http://localhost:8080/showResult";

        xmlhttp4.open("GET", url, true);
        xmlhttp4.send();
    }

</script>
</head>
<body>
    <br><br><br><br><br><br>
    <div style="text-align:center; font-size: 72px; font-weight: bolder">Weather-me</div>
    <br><br>
    
    <div style="text-align:center">
        <form name="insertCity">
            Enter the city name:
            <input type="text" id = "_city">
            <button id="submit" onclick = handle()>find</button>
            
        </form>
        <h5>The first letter must be <b>CAPITAL</b></h5>
        
        
        <button id="send" onclick=sendData()>submit</button>
        <div id="_show"></div>
        <br>
        <button id = "result" onclick = showResult()>Check!</button>
        <br>
        <div id="_text"></div>
    </div> 

    <!--
        <form name="insertCity" action="http://localhost:8080/getWeather">
            Enter the city name:
            <input type="text" name = "city" id = "_city">
            <input type="submit" value="Submit"></input>
        </form>
        <h5>The first letter must be <b>CAPITAL</b></h5>

        <button id="_class" onClick = _readClass()>class</button>
            <button id="_insert" onclick = sendData()>send</button>
    -->
    
</body>
</html>